.card-container{
    border: 1px solid black;
    margin-right: 5px;
    box-shadow: inset 0px 0px 15px -2px lightgrey;
    height: auto;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}
.card-container .card-body h5{
    text-align: center;
    margin-bottom: 20px;
}
.selected-doctor{
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 1px 5px 1px 8px;
    height: auto;
    margin: 5px;
}
