.header {
  background-color: blue;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1{
  color: white;
  font-size: 30px;
  text-align: center;
}
.header p {
  text-align: center;
  font-style: italic;
  color: white;
}
